<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Breast Cancer (Malignancies) Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div id="nbar" class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="logo" href="#myPage" class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
        <li><a href="#intro">INTRODUCTION</a></li>
        <li><a href="#pre">PRELIMINARY ANALYSIS</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MODELS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#log">LOGISTIC REGRESSION</a></li>
            <li><a href="#svm">SUPPORT VECTOR MACHINE</a></li>
            <li><a href="#dt">DECISION TREE</a></li> 
            <li><a href="#rf">RANDOM FOREST</a></li> 
            <li><a href="#knn">K NEAREST NEIGHBOR</a></li> 
            <li><a href="#seq">SEQUENTIAL MODEL</a></li> 
          </ul>
        </li>
        <li><a href="#comp">COMPARISON</a></li>
        <li><a href="#summ">SUMMARY</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Lorem Ipsum</h1> 
  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p> 
</div>

<!-- Container (Introduction Section) -->
<div id="intro" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>INTRODUCTION</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<!-- Container (Preliminary Analysis Section) -->
<div id="pre" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2>PRELIMINARY ANALYSIS</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<!-- Container (Logistic Regression Section) -->
<div id="log" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>LOGISTIC REGRESSION</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Container (Support Vector Machine Section) -->
<div id="svm" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <h2>SUPPORT VECTOR MACHINE</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Container (Decision Tree Section) -->
<div id="dt" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Decision Tree Classifier</h2><br>
      <h4>Among our several other classifiers we chose to make a model using a decision tree. A decision tree is a simple yet powerful classifier with strong predictive potential.</h4><br>
      <p>By combining several of these yes/no decisions, a giant tree is formed though a supervised machine learning model where the data is split according to a certain parameter. By splitting our dataset (in which we already know the outcome) we can create two separate volumes of data so that we can see how accurately our model is predicting the data. Additionally, we can see how often the model is making mistakes and even if that mistake was a false positive or a false negative. The results of this analysis are shown below.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Confusion Matrix</h3>
      <img src="/Resources/Results/Decision Tree.jpg" alt="Decision Tree 1" width="500" height="400">
    </div>
    <div class="col-sm-6">
      <h3>ROC Curve</h3>
      <img src="/Resources/Results/Decision Tree2.jpg" alt="Decision Tree 2" width="500" height="400">
    </div>
  </div>
</div>

<!-- Container (Random Forest Section) -->
<div id="rf" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <h2>RANDOM FOREST</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Container (K Nearest Neighbor Section) -->
<div id="knn" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>K NEAREST NEIGHBOR</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Container (Sequential Section) -->
<div id="seq" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <h2>SUPPORT VECTOR MACHINE</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Container (Comparison Section) -->
<div id="comp" class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Comparison</h2><br>
      <h4>In order to make an accurate model, it is important to compare the different classifiers we have analyzed.</h4><br>
      <p>This model allows you to compare different classifiers and see how they differ in accuracy as well as false negatives and positives. </p>
    </div>
    <div class="col-sm-4">
      <label for="classifiersLeft">Choose a classifier:</label>
      <select name="classifiersLeft" id="classifiersLeft" onchange="setLeftPicture();">
        <option value="/Resources/Results/Logistic Regression">Logistic Regression</option>
        <option value="/Resources/Results/Support Vector Machine">Support Vector Machine</option>
        <option value="/Resources/Results/Decision Tree">Decision Tree</option>
        <option value="/Resources/Results/Random Forest">Random Forest</option>
        <option value="/Resources/Results/K Nearest Neighbor">K Nearest Neighbor</option>
        <option value="/Resources/Results/Sequential">Sequential</option>
      </select><br><br>
      <object id="leftResults" width="350" height="145" type="text/plain" data="/Resources/Results/Logistic Regression.txt" border="0" style="overflow: hidden;"></object>
      <img id="leftImg1" src="/Resources/Results/Logistic Regression.jpg" width="350" height="225"><br><br>
      <img id="leftImg2" src="/Resources/Results/Logistic Regression2.jpg" width="350" height="225">
    </div>
    <div class="col-sm-4">
      <label for="classifiersRight">Choose a classifier:</label>
      <select name="classifiersRight" id="classifiersRight" onchange="setRightPicture();">
        <option value="/Resources/Results/Logistic Regression">Logistic Regression</option>
        <option value="/Resources/Results/Support Vector Machine">Support Vector Machine</option>
        <option value="/Resources/Results/Decision Tree">Decision Tree</option>
        <option value="/Resources/Results/Random Forest">Random Forest</option>
        <option value="/Resources/Results/K Nearest Neighbor">K Nearest Neighbor</option>
        <option value="/Resources/Results/Sequential">Sequential</option>
      </select><br><br>
      <object id="rightResults" width="350" height="145" type="text/plain" data="/Resources/Results/Logistic Regression.txt" border="0" style="overflow: hidden;"></object>
      <img id="rightImg1" src="/Resources/Results/Logistic Regression.jpg" width="350" height="225"><br><br>
      <img id="rightImg2" src="/Resources/Results/Logistic Regression2.jpg" width="350" height="225">
    </div>
  </div>
</div>

<!-- Container (SUMMARY Section) -->
<div id="summ" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <h2>SUMMARY</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

<script src="logic.js"></script>
</body>
</html>
